# DFx ETL Pipeline

## ETL

A generic notebook to execure ETL pipelines for supported data sources.

### Libraries

In [1]:
import logging

from dfx_etl.pipelines import Pipeline, unstats_sdg_database as source

### Configuration

In [2]:
# set the logging level
logging.basicConfig(
    level=logging.WARNING,  # logging.INFO or logging.WARNING
    format="%(asctime)s - %(name)s - %(levelname)s - %(message)s",
    handlers=[logging.StreamHandler()],
)

In [3]:
# specify pipeline details
pipeline = Pipeline(
    retriever=source.Retriever(),
    transformer=source.Transformer(),
)

### Extract

In [4]:
pipeline.retrieve()
print("Shape:", pipeline.df_raw.shape)
display(pipeline.df_raw.head())

100%|██████████| 17/17 [05:27<00:00, 19.24s/it]

Shape: (1385677, 72)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Cities,Level of requirement,Quantile,Illicit Financial Flows,IHR Capacity,Hazard type,Migratory status,Population Group,Name of international institution,Nutrient Loading
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,2015,1.1,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,2016,1.1,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,2017,1.4,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,2018,1.0,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,8,Albania,2018,1.60093,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Transform

In [5]:
pipeline.transform()
print("Shape:", pipeline.df_transformed.shape)
display(pipeline.df_transformed.head())

Shape: (1149610, 6)

,indicator_name,country_code,year,value,source,disaggregation
0,Proportion of population below international p...,ALB,2015,1.10000,SDG Database,ALLAREA; BOTHSEX; ALLAGE
1,Proportion of population below international p...,ALB,2016,1.10000,SDG Database,ALLAREA; BOTHSEX; ALLAGE
2,Proportion of population below international p...,ALB,2017,1.40000,SDG Database,ALLAREA; BOTHSEX; ALLAGE
3,Proportion of population below international p...,ALB,2018,1.00000,SDG Database,ALLAREA; BOTHSEX; ALLAGE
4,Proportion of population below international p...,ALB,2018,1.60093,SDG Database,ALLAREA; BOTHSEX; <15Y

### Load

In [6]:
pipeline.load();