# World Bank: Indicators API

Retrieving data from World Bank's [Indicator API](https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information).

## Libraries

In [1]:
from dfpp.transformation.sources.world_bank import Connector

## Data Collection

In [2]:
connector = Connector(connections=5)

### Indicator Metadata

In [3]:
df_indicators = await connector.get_indicators()
print("Shape:", df_indicators.shape)
display(df_indicators.head())

100%|██████████| 244/244 [00:11<00:00, 21.73it/s]

Shape: (24467, 2)

                     id                                     name
0    1.0.HCount.1.90usd          Poverty Headcount ($1.90 a day)
1     1.0.HCount.2.5usd          Poverty Headcount ($2.50 a day)
2  1.0.HCount.Mid10to50    Middle Class ($10-50 a day) Headcount
3       1.0.HCount.Ofcl  Official Moderate Poverty Rate-National
4   1.0.HCount.Poor4uds             Poverty Headcount ($4 a day)

In [4]:
df_indicators.nunique()

id      24465
name    24335
dtype: int64

### Indicator Series

In [5]:
df_series = await connector.get_series("SP.POP.TOTL")
print("Shape:", df_series.shape)
display(df_series.head())

100%|██████████| 170/170 [00:07<00:00, 23.13it/s]

Shape: (17024, 8)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,739108306.0,,,0
1,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2022,720859132.0,,,0
2,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2021,702977106.0,,,0
3,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,685112979.0,,,0
4,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2019,667242986.0,,,0

In [6]:
df_series.duplicated(subset=["countryiso3code", "date"]).sum()

256