In [1]:
# Parameters
source_cfg = {
    "id": "CPIA_PHR55",
    "name": "World bank data",
    "url": "https://api.worldbank.org/v2/en/indicator/SI.POV.UMIC?downloadformat=csv",
    "frequency": "Daily",
    "source_type": "Auto",
    "save_as": "CPIA_PHR55.csv",
    "file_format": "csv",
    "downloader_function": "cpia_downloader",
    "country_iso3_column": "Country Code",
    "country_name_column": "Country Name",
    "datetime_column": None,
    "year": None,
    "group_column": None,
    "downloader_params": {"file": "API_SI.POV.UMIC_DS2_en_csv_v2_4538781.csv"},
    "file_name": None,
}
indicator_cfg = {
    "indicator_id": "povertyheadcountratioat5.50_cpiaphr55",
    "indicator_name": "Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)",
    "display_name": "Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)",
    "source_id": "CPIA_PHR55",
    "data_type": "float",
    "frequency": "Daily",
    "aggregate_type": "PositiveSum",
    "preprocessing": "cpia_transform_preprocessing",
    "source_field_name": "",
    "transform_function": "type1_transform",
    "group_name": "Female",
    "year": 2021,
    "value_column": "",
    "column_substring": "eys_",
    "sheet_name": "WBentp1",
    "denominator_indicator_id": "totalpopulation_untp",
    "per_capita": 100.0,
    "min_year": None,
    "filter_sex_column": None,
    "filter_frequency_column": None,
    "filter_age_column": None,
    "filter_ste_column": None,
    "filter_eco_column": None,
    "filter_value_column": None,
    "value_col": None,
    "divisor": None,
    "dividend": None,
}

In [2]:
pwd

'/Users/mykhailoslukvin/repo/dv-data-pipeline/dfpp/transformation/source_notebooks/CPIA_PHR55/indicator_execution'

In [3]:
cd ../../../../../

/Users/mykhailoslukvin/repo/dv-data-pipeline

/Users/mykhailoslukvin/.local/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [4]:
import os
import io
import pandas as pd
import numpy as np
import re

from dfpp.storage import StorageManager
import country_converter as coco

cc = coco.CountryConverter()

In [50]:
async with StorageManager() as storage_manager:
    source_file_name = os.path.join(
        storage_manager.sources_path,
        f"{source_cfg['id'].upper()}.{source_cfg['file_format']}",
    )

    data = await storage_manager.read_blob(path=source_file_name)

In [ ]:
df = pd.read_csv(io.BytesIO(data), header=2)

In [ ]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [ ]:
source_df = df.copy()

In [ ]:
source_df.replace("..", np.nan, inplace=True)

In [ ]:
source_cfg["country_iso3_column"]

'Country Code'

In [ ]:
source_df.rename(
    columns={
        source_cfg["country_name_column"]: "Country",
        source_cfg["country_iso3_column"]: "Alpha-3 code",
    },
    inplace=True,
)

In [ ]:
source_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         266 non-null    object
 1   Alpha-3 code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            1 non-null      float64
 8   1964            1 non-null      float64
 9   1965            1 non-null      float64
 10  1966            1 non-null      float64
 11  1967            1 non-null      float64
 12  1968            2 non-null      float64
 13  1969            2 non-null      float64
 14  1970            3 non-null      float64
 15  1971            3 non-null      float64
 16  1972            2 non-null      float64
 17  1973            3 non-null      float64
 18  1974            2 non-null      float64
 19  1975            5 non-null      float64
 20  1976            2 non-null      float64
 21  1977            5 non-null      float64
 22  1978            3 non-null      float64
 23  1979            8 non-null      float64
 24  1980            7 non-null      float64
 25  1981            18 non-null     float64
 26  1982            14 non-null     float64
 27  1983            15 non-null     float64
 28  1984            17 non-null     float64
 29  1985            23 non-null     float64
 30  1986            25 non-null     float64
 31  1987            31 non-null     float64
 32  1988            23 non-null     float64
 33  1989            30 non-null     float64
 34  1990            35 non-null     float64
 35  1991            32 non-null     float64
 36  1992            49 non-null     float64
 37  1993            39 non-null     float64
 38  1994            38 non-null     float64
 39  1995            53 non-null     float64
 40  1996            51 non-null     float64
 41  1997            43 non-null     float64
 42  1998            56 non-null     float64
 43  1999            48 non-null     float64
 44  2000            61 non-null     float64
 45  2001            52 non-null     float64
 46  2002            71 non-null     float64
 47  2003            74 non-null     float64
 48  2004            84 non-null     float64
 49  2005            90 non-null     float64
 50  2006            91 non-null     float64
 51  2007            83 non-null     float64
 52  2008            88 non-null     float64
 53  2009            93 non-null     float64
 54  2010            97 non-null     float64
 55  2011            93 non-null     float64
 56  2012            99 non-null     float64
 57  2013            90 non-null     float64
 58  2014            96 non-null     float64
 59  2015            99 non-null     float64
 60  2016            95 non-null     float64
 61  2017            90 non-null     float64
 62  2018            103 non-null    float64
 63  2019            87 non-null     float64
 64  2020            72 non-null     float64
 65  2021            77 non-null     float64
 66  2022            33 non-null     float64
 67  2023            2 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB

In [ ]:
source_df["iso3_cc"] = cc.pandas_convert(series=source_df["Country"], to="ISO3")

Africa Eastern and Southern not found in regex
Africa Western and Central not found in regex

Arab World not found in regex
Central Europe and the Baltics not found in regex
Channel Islands not found in regex
Caribbean small states not found in regex
East Asia & Pacific ( not found in regex
Early-demographic dividend not found in regex
East Asia & Pacific not found in regex
Europe & Central Asia ( not found in regex
Europe & Central Asia not found in regex
Euro area not found in regex
European Union not found in regex
Fragile and conflict affected situations not found in regex
High income not found in regex
Heavily indebted poor countries (HIPC) not found in regex
IBRD only not found in regex
IDA & IBRD total not found in regex
IDA total not found in regex
IDA blend not found in regex
IDA only not found in regex
Not classified not found in regex
Latin America & Caribbean ( not found in regex
Latin America & Caribbean not found in regex
Least developed countries: UN classification not found in regex
Low income not found in regex
Lower middle income not found in regex
Low & middle income not found in regex
Late-demographic dividend not found in regex
Middle East & North Africa not found in regex
Middle income not found in regex
Middle East & North Africa ( not found in regex
North America not found in regex
OECD members not found in regex
Other small states not found in regex
Pre-demographic dividend not found in regex
Pacific island small states not found in regex
Post-demographic dividend not found in regex
South Asia not found in regex
Sub-Saharan Africa ( not found in regex
Sub-Saharan Africa not found in regex
Small states not found in regex
East Asia & Pacific (IDA & IBRD countries) not found in regex
Europe & Central Asia (IDA & IBRD countries) not found in regex
Latin America & the Caribbean (IDA & IBRD countries) not found in regex
Middle East & North Africa (IDA & IBRD countries) not found in regex
South Asia (IDA & IBRD) not found in regex
Sub-Saharan Africa (IDA & IBRD countries) not found in regex
Upper middle income not found in regex
World not found in regex

In [ ]:
source_df[source_df["iso3_cc"] != source_df["Alpha-3 code"]]

,Country,Alpha-3 code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68,iso3_cc
1,Africa Eastern and Southern,AFE,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
3,Africa Western and Central,AFW,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
7,Arab World,ARB,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
36,Central Europe and the Baltics,CEB,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
38,Channel Islands,CHI,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
49,Caribbean small states,CSS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
61,East Asia & Pacific (excluding high income),EAP,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
62,Early-demographic dividend,EAR,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
63,East Asia & Pacific,EAS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,40.3,38.1,34.9,32.3,32.5,29.6,29.2,NaN,NaN,not found
64,Europe & Central Asia (excluding high income),ECA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
65,Europe & Central Asia,ECS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,13.8,12.5,11.4,10.8,10.3,8.9,8.6,NaN,NaN,not found
68,Euro area,EMU,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
73,European Union,EUU,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
74,Fragile and conflict affected situations,FCS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,80.2,79.9,79.7,NaN,NaN,NaN,NaN,NaN,NaN,not found
95,High income,HIC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,2.6,2.4,2.2,2.0,1.9,1.5,1.5,NaN,NaN,not found
98,Heavily indebted poor countries (HIPC),HPC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
102,IBRD only,IBD,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
103,IDA & IBRD total,IBT,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
104,IDA total,IDA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,84.4,83.8,83.6,NaN,NaN,NaN,NaN,NaN,not found
105,IDA blend,IDB,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
107,IDA only,IDX,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
110,Not classified,INX,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
128,Latin America & Caribbean (excluding high income),LAC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
134,Latin America & Caribbean,LCN,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,28.4,27.9,27.2,27.6,28.4,25.2,NaN,NaN,not found
135,Least developed countries: UN classification,LDC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
136,Low income,LIC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,92.1,91.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
139,Lower middle income,LMC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,80.5,79.0,77.3,75.8,77.2,76.5,75.0,NaN,NaN,not found
140,Low & middle income,LMY,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,60.8,59.4,57.5,56.1,57.1,55.9,54.9,NaN,NaN,not found
142,Late-demographic dividend,LTE,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
153,Middle East & North Africa,MEA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,44.4,44.8,45.1,NaN,NaN,NaN,NaN,NaN,NaN,not found
156,Middle income,MIC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
161,Middle East & North Africa (excluding high inc...,MNA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
170,North America,NAC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
181,OECD members,OED,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
183,Other small states,OSS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
191,Pre-demographic dividend,PRE,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
197,Pacific island small states,PSS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
198,Post-demographic dividend,PST,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
204,South Asia,SAS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,87.3,85.1,82.6,80.6,82.1,81.2,79.2,NaN,NaN,not found
215,Sub-Saharan Africa (excluding high income),SSA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
217,Sub-Saharan Africa,SSF,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,87.5,87.4,87.3,87.3,NaN,NaN,NaN,NaN,NaN,not found
218,Small states,SST,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
230,East Asia & Pacific (IDA & IBRD countries),TEA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
231,Europe & Central Asia (IDA & IBRD countries),TEC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
236,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
238,Middle East & North Africa (IDA & IBRD countries),TMN,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
240,South Asia (IDA & IBRD),TSA,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not found
249,Upper middle income,UMC,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,34.3,32.6,30.2,28.3,28.4,26.0,25.0,NaN,NaN,not found
259,World,WLD,Poverty headcount ratio at $6.85 a day (2017 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,48.9,47.5,46.4,47.2,46.3,45.5,NaN,NaN,not found

In [ ]:
assert source_df["Indicator Code"].value_counts().shape[0] == 1
assert source_df["Indicator Name"].value_counts().shape[0] == 1

In [ ]:
indicator_columns_to_select = [
    column
    for column in source_df.select_dtypes("number").columns
    if re.search(r"\d{4}", column)
]

In [ ]:
indicator_columns_to_select

['1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [100]:
long_df = source_df.melt(
    id_vars=["Alpha-3 code", "Country"],
    value_vars=indicator_columns_to_select,
    var_name="year",
    value_name=indicator_cfg["indicator_id"],
)

In [69]:
@StorageManager.with_storage_manager
def _get_population_data(storage_manager):
    population_path = os.path.join(storage_manager.utilities_path, "population.csv")
    popuation_data = await storage_manager.read_blob(path=population_path)
    population_df = pd.read_csv(io.BytesIO(popuation_data))

    long_population = population_df.melt(
        id_vars=["Alpha-3 code"],
        value_vars=population_df.select_dtypes("number"),
        value_name="totalpopulation_untp_year",
    )
    long_population["totalpopulation_untp"] = long_population["variable"].str.extract(
        r"(\D+)"
    )
    long_population["year"] = long_population["variable"].str.extract(r"(\d+)")
    return long_population

In [79]:
long_df

,Alpha-3 code,Country,year,povertyheadcountratioat5.50_cpiaphr55
0,ABW,Aruba,1960,NaN
1,AFE,Africa Eastern and Southern,1960,NaN
2,AFG,Afghanistan,1960,NaN
3,AFW,Africa Western and Central,1960,NaN
4,AGO,Angola,1960,NaN
...,...,...,...,...
17019,XKX,Kosovo,2023,NaN
17020,YEM,"Yemen, Rep.",2023,NaN
17021,ZAF,South Africa,2023,NaN
17022,ZMB,Zambia,2023,NaN
17023,ZWE,Zimbabwe,2023,NaN

In [156]:
long_df["year"] = long_df["year"].astype(int)

In [197]:
from dfpp.transformation.interpolation import calculate_gappiness_index, interpolate_data

In [201]:
gappiness_df = calculate_gappiness_index(long_df, indicator_cfg["indicator_id"])

In [205]:
gappiness_df.head(10)

,Alpha-3 code,gappiness_index,observed_years,missing_years,year_min,year_max
0,ABW,NaN,0.0,NaN,NaN,NaN
1,AFE,NaN,0.0,NaN,NaN,NaN
2,AFG,NaN,0.0,NaN,NaN,NaN
3,AFW,NaN,0.0,NaN,NaN,NaN
4,AGO,2.692400,3.0,16.0,2000.0,2018.0
5,ALB,1.186086,12.0,13.0,1996.0,2020.0
6,AND,NaN,0.0,NaN,NaN,NaN
7,ARB,NaN,0.0,NaN,NaN,NaN
8,ARE,1.739625,2.0,4.0,2013.0,2018.0
9,ARG,0.499457,34.0,9.0,1980.0,2022.0

In [202]:
gappiness_df.describe()

,gappiness_index,observed_years,missing_years,year_min,year_max
count,182.000000,266.000000,182.000000,182.000000,182.000000
mean,1.147960,9.819549,10.439560,1994.478022,2018.269231
std,0.973538,12.332705,9.066615,10.973955,4.814692
min,0.000000,0.000000,0.000000,1963.000000,1992.000000
25%,0.012450,0.000000,0.250000,1986.000000,2017.000000
50%,1.111542,4.500000,9.000000,1994.000000,2020.000000
75%,2.026473,18.000000,18.000000,2003.000000,2021.000000
max,3.306734,59.000000,31.000000,2022.000000,2023.000000

In [222]:
interpolated_long_df = interpolate_data(long_df, indicator_cfg["indicator_id"])

/var/folders/j2/l11h93nn4s542l1h1yzw34980000gn/T/ipykernel_51324/3532701834.py:83: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group[indicator_id] = group[indicator_id].fillna(

In [234]:
interpolated_long_df.tail(20)

      Alpha-3 code   Country  year  povertyheadcountratioat5.50_cpiaphr55
17004          ZWE  Zimbabwe  2004                                    NaN
17005          ZWE  Zimbabwe  2005                                    NaN
17006          ZWE  Zimbabwe  2006                                    NaN
17007          ZWE  Zimbabwe  2007                                    NaN
17008          ZWE  Zimbabwe  2008                                    NaN
17009          ZWE  Zimbabwe  2009                                    NaN
17010          ZWE  Zimbabwe  2010                                    NaN
17011          ZWE  Zimbabwe  2011                                   77.9
17012          ZWE  Zimbabwe  2012                                   77.9
17013          ZWE  Zimbabwe  2013                                   77.9
17014          ZWE  Zimbabwe  2014                                   77.9
17015          ZWE  Zimbabwe  2015                                   77.9
17016          ZWE  Zimbabwe  2016                                   77.9
17017          ZWE  Zimbabwe  2017                                   84.1
17018          ZWE  Zimbabwe  2018                                   84.1
17019          ZWE  Zimbabwe  2019                                   85.0
17020          ZWE  Zimbabwe  2020                                   85.0
17021          ZWE  Zimbabwe  2021                                   85.0
17022          ZWE  Zimbabwe  2022                                   85.0
17023          ZWE  Zimbabwe  2023                                   85.0