In [ ]:
import io
import os

import country_converter as coco
import pandas as pd

from dfpp.eda import print_essential_data_descriptives
from dfpp.storage import StorageManager
from dfpp.storage.postgres import AsyncPGClient

cc = coco.CountryConverter()

In [ ]:
async with StorageManager() as storage_manager:
    source_file_name = os.path.join(
        storage_manager.sources_path,
        f"{source_cfg['id'].upper()}.{source_cfg['file_format']}",
    )

    data = await storage_manager.read_blob(path=source_file_name)

In [ ]:
df = pd.read_csv(io.BytesIO(data), low_memory=False)

In [ ]:
df.head()

,DATAFLOW,REF_AREA,FREQ,MEASURE,SEX,STE,TIME_PERIOD,OBS_VALUE,OBS_STATUS,UNIT_MEASURE_TYPE,UNIT_MEASURE,UNIT_MULT,SOURCE,NOTE_SOURCE,NOTE_INDICATOR,NOTE_CLASSIF,DECIMALS,UPPER_BOUND,LOWER_BOUND
0,ILO:DF_EMP_PIFL_SEX_STE_NB(1.0),ARG,Q,EMP_PIFL_NB,SEX_T,STE_AGGREGATE_TOTAL,2014-Q1,4627.217,NaN,NB,PS,3,"LFS - Encuesta Permanente de Hogares, Urbano",Repository: ILO-STATISTICS - Micro data proces...,Frequency: Quarterly: average based on 3 month...,NaN,1,NaN,NaN
1,ILO:DF_EMP_PIFL_SEX_STE_NB(1.0),ARG,Q,EMP_PIFL_NB,SEX_T,STE_AGGREGATE_EES,2014-Q1,2156.108,NaN,NB,PS,3,"LFS - Encuesta Permanente de Hogares, Urbano",Repository: ILO-STATISTICS - Micro data proces...,Frequency: Quarterly: average based on 3 month...,NaN,1,NaN,NaN
2,ILO:DF_EMP_PIFL_SEX_STE_NB(1.0),ARG,Q,EMP_PIFL_NB,SEX_T,STE_AGGREGATE_SLF,2014-Q1,2471.109,NaN,NB,PS,3,"LFS - Encuesta Permanente de Hogares, Urbano",Repository: ILO-STATISTICS - Micro data proces...,Frequency: Quarterly: average based on 3 month...,NaN,1,NaN,NaN
3,ILO:DF_EMP_PIFL_SEX_STE_NB(1.0),ARG,Q,EMP_PIFL_NB,SEX_M,STE_AGGREGATE_TOTAL,2014-Q1,2648.041,NaN,NB,PS,3,"LFS - Encuesta Permanente de Hogares, Urbano",Repository: ILO-STATISTICS - Micro data proces...,Frequency: Quarterly: average based on 3 month...,NaN,1,NaN,NaN
4,ILO:DF_EMP_PIFL_SEX_STE_NB(1.0),ARG,Q,EMP_PIFL_NB,SEX_M,STE_AGGREGATE_EES,2014-Q1,1029.083,NaN,NB,PS,3,"LFS - Encuesta Permanente de Hogares, Urbano",Repository: ILO-STATISTICS - Micro data proces...,Frequency: Quarterly: average based on 3 month...,NaN,1,NaN,NaN

In [ ]:
assert indicator_cfg["value_column"] in df.columns

In [ ]:
df["TIME_PERIOD"].value_counts()

TIME_PERIOD
2019       2518
2017       2205
2018       2107
2021       2018
2022       1965
2014       1923
2016       1914
2015       1797
2020       1755
2023        788
2019-Q1     392
2019-Q4     377
2019-Q3     374
2017-Q3     374
2019-Q2     366
2017-Q4     357
2018-Q3     350
2017-Q1     348
2018-Q1     338
2018-Q4     335
2021-Q1     331
2018-Q2     327
2020-Q4     323
2021-Q2     315
2021-Q4     314
2021-Q3     310
2022-Q1     310
2022-Q3     310
2020-Q1     306
2022-Q4     304
2017-Q2     303
2022-Q2     301
2016-Q3     294
2020-Q3     288
2016-Q4     285
2023-Q1     271
2016-Q2     264
2016-Q1     261
2023-Q2     256
2020-Q2     255
2023-Q3     245
2014-Q4     237
2015-Q2     234
2014-Q2     234
2015-Q4     231
2023-Q4     225
2015-Q1     222
2014-Q3     216
2014-Q1     216
2015-Q3     207
2024-Q1     117
2024-Q2      33
Name: count, dtype: int64

In [ ]:
df["FREQ"].value_counts(dropna=False)

FREQ
A    18990
Q    11956
Name: count, dtype: int64

In [ ]:
df_source = df.copy()

In [ ]:
df_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30946 entries, 0 to 30945
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATAFLOW           30946 non-null  object
 1   REF_AREA           30946 non-null  object
 2   FREQ               30946 non-null  object
 3   MEASURE            30946 non-null  object
 4   SEX                30946 non-null  object
 5   STE                30946 non-null  object
 6   TIME_PERIOD        30946 non-null  object
 7   OBS_VALUE          29084 non-null  float64
 8   OBS_STATUS         5564 non-null   object
 9   UNIT_MEASURE_TYPE  30946 non-null  object
 10  UNIT_MEASURE       30946 non-null  object
 11  UNIT_MULT          30946 non-null  int64
 12  SOURCE             30946 non-null  object
 13  NOTE_SOURCE        30946 non-null  object
 14  NOTE_INDICATOR     13771 non-null  object
 15  NOTE_CLASSIF       240 non-null    object
 16  DECIMALS           30946 non-null  int64
 17  UPPER_BOUND        0 non-null      float64
 18  LOWER_BOUND        0 non-null      float64
dtypes: float64(3), int64(2), object(14)
memory usage: 4.5+ MB

In [ ]:
assert df_source["MEASURE"].value_counts().shape[0] == 1

In [ ]:
df_source["FREQ"].value_counts()

FREQ
A    18990
Q    11956
Name: count, dtype: int64

In [ ]:
df_source = df_source.loc[
    df_source[source_cfg["datetime_column"]].str.contains(r"^\d{4}$")
].reset_index(drop=True)
df_source.rename(
    columns={
        source_cfg["datetime_column"]: "year",
        source_cfg["country_iso3_column"]: "alpha_3_code",
        indicator_cfg["value_column"]: indicator_cfg["indicator_id"],
    },
    inplace=True,
)
df_source["year"] = df_source["year"].astype("int")

In [ ]:
assert df_source["FREQ"].value_counts().shape[0] == 1

In [ ]:
df_source = df_source.loc[df_source["FREQ"] == "A"]

In [ ]:
df_source.shape

(18990, 19)

In [ ]:
df_source["year"].value_counts(dropna=False)

year
2019    2518
2017    2205
2018    2107
2021    2018
2022    1965
2014    1923
2016    1914
2015    1797
2020    1755
2023     788
Name: count, dtype: int64

In [ ]:
df_source["country_or_area"] = cc.pandas_convert(
    series=df_source["alpha_3_code"], src="ISO3", to="name_official"
)

In [ ]:
df_source["alpha_3_code"].value_counts(dropna=True)

alpha_3_code
VNM    312
MNG    309
PER    288
URY    288
MDA    285
      ...
COK     24
NPL     24
TCD     24
NRU     24
LBN     24
Name: count, Length: 139, dtype: int64

In [ ]:
country_names = (
    df_source.groupby(["alpha_3_code"])
    .agg(country_or_area=("country_or_area", "first"))
    .reset_index()
)

In [ ]:
assert country_names.country_or_area.isna().sum() == 0

In [ ]:
filters = {
    "SEX": indicator_cfg["filter_sex_column"],
    "AGE": indicator_cfg["filter_age_column"],
    "ECO": indicator_cfg["filter_eco_column"],
    "STE": indicator_cfg["filter_ste_column"],
    "SOC": indicator_cfg["filter_value_column"],
}

In [ ]:
filters

{'SEX': 'SEX_F',
 'AGE': None,
 'ECO': None,
 'STE': 'STE_AGGREGATE_X',
 'SOC': None}

In [ ]:
valid_filters = {
    key: value
    for key, value in filters.items()
    if key in df_source.columns and value is not None
}

In [ ]:
valid_filters

{'SEX': 'SEX_F', 'STE': 'STE_AGGREGATE_X'}

In [ ]:
if valid_filters:
    df_source = df_source.loc[
        (df_source[valid_filters.keys()] == valid_filters.values()).all(axis=1)
    ]

In [ ]:
df_source = df_source[
    ["alpha_3_code", "country_or_area", indicator_cfg["indicator_id"]]
]

In [ ]:
df_source.head()

,alpha_3_code,country_or_area,employementoutsidetheformalsectorbysexandstatusinemploymentthousandsfemalenotclassified_ilopiflste
11,AFG,Islamic Republic of Afghanistan,9.943
41,AGO,Republic of Angola,147.283
74,AGO,Republic of Angola,94.062
107,ARG,Argentine Republic,NaN
305,ARM,Republic of Armenia,NaN

In [ ]:
async with AsyncPGClient() as pg_client:
    await pg_client.insert_indicator(indicator_cfg["indicator_id"], df_source)

Mock connected to the database.
Inserted 287 rows into table for indicator: employementoutsidetheformalsectorbysexandstatusinemploymentthousandsfemalenotclassified_ilopiflste
Mock closed the database connection.